body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #9e9595;
    gap: 5px;
}

button{
    cursor: pointer;
}



#container {
    display: flex;
    flex-wrap: wrap; /* allows squares to wrap to the next line */
    width: 600px;    
    height: 600px;   
    border: 2px solid black;
}

.square {
    box-sizing: border-box; 
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid black;
}

.hovered{
    background-color: hsl(12, 2%, 40%);
}