#container{
    display: flex;
    gap: 10px;
}

.square{
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 1px, solid, black;
    padding: 50px;
}