body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #9e9595;
    gap: 5px;
}

button{
    cursor: pointer;
}



#container {
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(16, 1fr);
    min-width: 75vh;
    min-height: 75vh;
    width: auto;
    height: auto;
    gap: 1px; 

}

.square {
    padding: 1px;
    border: 1px solid black;
    background-color: hsl(13, 14%, 95%);



}

.hovered{
    background-color: hsl(12, 2%, 40%);;
}